@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  color: #fff;
  background-color: #0f172a;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: #131c31;
  border-radius: 20px;
  border: 1px solid #222f43;
  overflow: hidden;
  display: flex;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.05);
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;

  .name {
    position: relative;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  .score {
    font-size: 8rem;
    font-weight: 300;
    color: #0ea5ea;
    margin-bottom: auto;
  }

  .current {
    background-color: #0ea5ea;
    opacity: 0.8;
    border-radius: 9px;
    color: #fff;
    width: 65%;
    padding: 2rem;
    text-align: center;
    transition: all 0.75s;

    &-label {
      text-transform: uppercase;
      margin-bottom: 1rem;
      font-size: 1.7rem;
      color: #ddd;
    }

    &-score {
      font-size: 3.5rem;
    }
  }

  &--active {
    background-color: lighten(#131c31, 10%);

    .name {
      font-weight: 700;
    }
    .score {
      font-weight: 400;
    }

    .current {
      opacity: 1;
    }
  }

  &--winner {
    background-color: #111;

    .name {
      font-weight: 700;
      color: #0ea5ea;
    }
  }
}

.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #111;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  background-color: #fff;
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);

  &--new {
    top: 4rem;
  }
  &--roll {
    top: 39.3rem;
  }
  &--hold {
    top: 46.1rem;
  }

  &:active {
    transform: translate(-50%, 3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }

  &:focus {
    outline: none;
  }
}

.dice {
  font-size: 3rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
}

.hidden {
  display: none;
}

@media (max-width: 767px) {
  main {
    height: 35rem;
    border-radius: 0;
  }

  .player {
    padding: 3rem;

    .name {
      font-size: 2rem;
    }

    .score {
      font-size: 5rem;
    }

    .current {
      width: 50%;
      padding: 1rem;

      &-label {
        margin-bottom: 0.5rem;
      }
    }
  }

  .btn {
    font-size: 1.6rem;
    padding: 0.7rem 1.5rem;

    &--new {
      top: 3rem;
    }

    &--roll {
      top: 23rem;
    }

    &--hold {
      top: 28rem;
    }
  }

  .dice {
    font-size: 1.5rem;
    top: 11rem;
  }
}

@media (max-width: 575px) {
  .player {
    padding: 3rem 2rem;

    .current {
      width: 80%;
      padding: 1rem;
    }
  }

  .btn span {
    display: none;
  }
}
