@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  color: #fff;
  line-height: 1.5;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  background: #0f172a;
}

.pass {
  width: calc(100% - 30px);
  max-width: 640px;
  margin: 15px;
  padding: 20px;
  text-align: center;
  border: 1px solid #222f43;
  border-radius: 20px;
  background-color: #131c31;
  color: #b9e0f2;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.05);

  h2 {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 20px;
  }

  &__input-box {
    position: relative;

    input {
      width: 100%;
      height: 50px;
      color: #fff;
      background: none;
      font-size: 1.6rem;
      border-radius: 10px;
      letter-spacing: 1.5px;
      border: 1px solid #aaa;
      padding: 0 2.85rem 0 1rem;
    }

    i {
      position: absolute;
      right: 10px;
      cursor: pointer;
      line-height: 53px;
      font-size: 1.8rem;
      color: #fff;

      &:hover {
        color: #b9e0f2 !important;
      }
    }
  }

  &__indicator {
    width: 100%;
    height: 4px;
    position: relative;
    margin-top: 0.75rem;
    border-radius: 25px;

    &::before {
      position: absolute;
      content: "";
      left: 0;
      height: 100%;
      width: 50%;
      border-radius: inherit;
      transition: width 0.3s ease;
    }

    &#weak::before {
      width: 20%;
      background: #da4453;
    }

    &#medium::before {
      width: 50%;
      background: #f6bb42;
    }

    &#strong::before {
      width: 100%;
      background: #8cc152;
    }
  }

  &__length {
    margin: 1.5rem 0;

    input {
      width: 100%;
      height: 5px;
      cursor: grab;
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;

    span {
      font-size: 1.4rem;
    }
  }

  &__title {
    font-size: 1.8rem;
    text-align: left;
    margin-bottom: 0.5rem;
  }

  &__settings &__options {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 1.5rem;
  }

  &__option {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    width: calc(100% / 2);

    &:first-child {
      pointer-events: none;
    }

    &:first-child input {
      opacity: 0.7;
    }

    input {
      height: 16px;
      width: 16px;
      cursor: pointer;
    }

    label {
      cursor: pointer;
      color: #fff;
      padding-left: 0.5rem;
    }
  }
  &__button {
    font-size: 2rem;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    padding: 1rem 2.5rem;
    margin-top: 2rem;
    border: 2px solid #0ea5ea;
    background: transparent;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;

    &:hover,
    &:active {
      background: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea);
    }
  }
}
