@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  color: #fff;
  line-height: 1.5;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f172a;
}

.card {
  width: calc(100% - 30px);
  max-width: 480px;
  background-color: #f0f9ff;
  margin: 15px;
  padding: 20px;
  border: 1px solid #222f43;
  border-radius: 10px;
  background-color: #131c31;
  color: #b9e0f2;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.05);

  .timer {
    background-color: #3c98ff;
    padding: 15px 0;
    color: #f0f9ff;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0.3em;
  }
}

.buttons {
  width: 80%;
  margin: 3.8em auto 0 auto;
  display: flex;
  justify-content: space-around;

  button {
    font-size: 1.8rem;
    background-color: #dbe9ff;
    color: #131c31;
    border: none;
    font-family: inherit;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    cursor: pointer;
    outline: none;
  }
  #start-timer {
    background-color: #3c98ff;
    color: #f0f9ff;
  }
}
