@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f172a;
}

.tabs {
  width: calc(100% - 30px);
  max-width: 640px;
  height: 360px;
  padding: 30px 20px;
  border: 1px solid #222f43;
  border-radius: 20px;
  background-color: #131c31;
  color: #b9e0f2;
  position: relative;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;

  &__header {
    float: left;
    width: 180px;
    height: 100%;
    border-right: 3px solid #222f43;
    padding: 50px 0px;

    & > div {
      height: 50px;
      line-height: 50px;
      font-size: 1.6rem;
      color: #fff;
      cursor: pointer;
      padding-left: 10px;

      &:hover,
      &.active {
        color: #0ea5ea;
      }
    }

    div i {
      display: inline-block;
      margin-left: 10px;
      margin-right: 5px;
    }
  }

  &__indicator {
    position: absolute;
    width: 3px;
    height: 50px;
    background: #00acee;
    left: 197px;
    top: 80px;
    transition: all 500ms ease-in-out;
  }

  &__content {
    position: relative;
    height: 100%;
    overflow: hidden;

    & > div {
      position: absolute;
      text-align: center;
      padding: 20px;
      top: -200%;
      transition: all 500ms ease-in-out;
      font-size: 1.4rem;

      &.active {
        top: 0px;
      }

      & > i {
        display: inline-block;
        width: 50px;
        height: 50px;
        background: #0ea5ea;
        color: #b9e0f2;
        font-size: 2.5rem;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        margin-bottom: 20px;
      }
    }
  }
}
