@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f172a;
}

.card {
  width: calc(100% - 30px);
  max-width: 640px;
  text-align: center;
  margin: 15px;
  padding: 20px;
  border: 1px solid #222f43;
  border-radius: 20px;
  background-color: #131c31;
  color: #b9e0f2;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);

  h1 {
    font-size: 2rem;
    color: #b9e0f2;
    text-align: center;
    font-weight: 700;
  }

  #question {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
  }

  #submit-btn {
    font-size: 1.8rem;
    font-family: inherit;
    font-weight: 700;
    padding: 1rem 3rem;
    margin-top: 2rem;
    background: #b9e0f2;
    color: #0ea5ea;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
  }

  #error-msg {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.6rem;
    background-color: #f2838f;
    color: #a94442;
    padding: 1rem 0;
  }

  input {
    font-size: 1em;
    font-weight: 700;
    width: 2.35em;
    color: #0ea5ea;
    text-align: center;
    padding: 0 5px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #b9e0f2;
    margin: 0 0.25em;

    &:focus {
      border-color: #0ea5ea;
      outline: none;
    }

    &[type="number"] {
      -moz-appearance: textfield;
    }

    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.controls {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #0f172a;
  height: 100%;
  width: 100%;
  top: 0;

  #result {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: #b9e0f2;

    span {
      font-weight: 700;
    }
  }

  #start-btn {
    font-size: 2rem;
    font-family: inherit;
    font-weight: 700;
    padding: 1rem 2.5rem;
    margin-top: 2rem;
    border: 2px solid #0ea5ea;
    background: transparent;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;

    &:hover,
    &:active {
      background: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea);
    }
  }
}

.hide {
  display: none;
}
