@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #0f172a;
}

h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;

  span {
    color: #0ea5ea;
    position: relative;

    &::before {
      content: "";
      height: 30px;
      width: 2px;
      position: absolute;
      top: 50%;
      right: -8px;
      background: #0ea5ea;
      transform: translateY(-45%);
      animation: blink 0.7s infinite;
    }

    &.stop-blinking::before {
      animation: none;
    }
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
