@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  color: #fff;
  line-height: 1.5;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: #0f172a;
}

.button {
  font-size: 2rem;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: 2px solid #0ea5ea;
  background: transparent;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;

  &:hover,
  &:focus {
    background: linear-gradient(90deg, #0ea5ea, #0bd1d1 51%, #0ea5ea);
  }
}
